# Testing clutter #
###################
.hypothesis
junit.xml

# IDE clutter #
###############
.vscode/
.idea/

# Execution clutter #
#####################
holoviews-examples/
.ipynb_checkpoints/
*.html


